.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	height: 100vh;

	.add-conference{
		flex:0;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.title{
			font-weight: 500;
		}
		.small-title{
			font-weight: 400;
		}
		p-button{
			margin-top: 24px;
		}
	}
	hr.seperator{
		margin-top: 32px;
		width: 50%;
	}

	.conference-list-wrapper{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.conference-list{
			width: 100%;
		}
	}
}